@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* SIDEBAR */
#sidebar nav a {
  @apply w-full px-2 inline-flex space-x-2 items-center border-b border-minsk-800 py-3 hover:bg-white/5 transition ease-linear duration-150;
}

#sidebar nav a.active {
  @apply  bg-minsk-700;
}

#sidebar {
  @apply bg-gradient-to-br from-minsk-900 to-minsk-950;
}

@layer components {
  .btn-default {
    @apply bg-minsk-600 hover:bg-minsk-800 text-center text-white shadow;
  }
  .btn-flat {
    @apply rounded px-4 py-2 font-bold m-1;
  }
  .btn-cancel {
    @apply bg-stone-500 hover:bg-stone-600 text-white;
  }
}
